In [1]:
import pandas as pd

In [5]:
classinfo = pd.read_csv('Data/annot/train_info.csv')

In [6]:
classinfo

                   image   class
0       train_101733.jpg     211
1       train_101734.jpg     211
2       train_101735.jpg     211
3       train_101736.jpg     211
4       train_101737.jpg     211
...                  ...     ...
118470  train_101728.jpg     123
118471  train_101729.jpg     123
118472  train_101730.jpg     123
118473  train_101731.jpg     123
118474  train_101732.jpg     123

[118475 rows x 2 columns]